@font-face {
  font-family: "Rebounded";
  src: url("native://fonts/Rebounded.woff2") format("woff2"),
       url("native://fonts/Rebounded.ttf") format("truetype");
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("native://fonts/Unbounded.woff2") format("woff2"),
       url("native://fonts/Unbounded.ttf") format("truetype");
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
}

@font-face {
  font-family: "ReboundedRemote";
  src: url("https://assets.playus.club/fonts/Rebounded.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
}

@font-face {
  font-family: "UnboundedRemote";
  src: url("https://assets.playus.club/fonts/Unbounded.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("native://fonts/SpaceGrotesk.woff2") format("woff2"),
       url("native://fonts/SpaceGrotesk.ttf") format("truetype"),
       url("https://assets.playus.club/fonts/SpaceGrotesk.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 800;
  font-display: block;
}

@font-face {
  font-family: "Quicksand";
  src: url("native://fonts/Quicksand.woff2") format("woff2"),
       url("native://fonts/Quicksand.ttf") format("truetype"),
       url("https://assets.playus.club/fonts/Quicksand.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
}
